In [1]:
# Import the modules
import numpy as np
import pandas as pd
from sklearn.metrics import confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [2]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
lending_data_df = pd.read_csv("lending_data.csv")

# Review the DataFrame
lending_data_df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [3]:
# Separate the data into labels and features

# Separate the y variable, the labels
y = lending_data_df['loan_status']

# Separate the X variable, the features
X = lending_data_df[[col for col in lending_data_df.columns if col != "loan_status"]]

In [4]:
# Review the y variable Series
y

0        0
1        0
2        0
3        0
4        0
        ..
77531    1
77532    1
77533    1
77534    1
77535    1
Name: loan_status, Length: 77536, dtype: int64

In [5]:
# Review the X variable DataFrame
X.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000

### Step 3: Split the data into training and testing datasets by using `train_test_split`.

In [6]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [8]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
lr_model = LogisticRegression(random_state= 1)

# Fit the model using training data
lr_model.fit(X_train, y_train)

LogisticRegression(random_state=1)

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [9]:
# Make a prediction using the testing data
lr_pred = lr_model.predict(X_test)

### Step 3: Evaluate the model’s performance by doing the following:

* Generate a confusion matrix.

* Print the classification report.

In [10]:
# Generate a confusion matrix for the model
confusion_matrix(y_test, lr_pred)

array([[18663,   102],
       [   56,   563]], dtype=int64)

In [11]:
# Print the classification report for the model
print(classification_report(y_test, lr_pred))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00     18765
           1       0.85      0.91      0.88       619

    accuracy                           0.99     19384
   macro avg       0.92      0.95      0.94     19384
weighted avg       0.99      0.99      0.99     19384

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** The logistic regression model performs exceptionally well in predicting healthy loans(label 0) with high precision and recall. While for high-risk loans(label 1), the model performs well but not as prefectly as for healthy loans, with slightly lower precision and recall, indicating some misclassification.
Overall, the model seems to be quite effective, especially in indentifying healthy loans. However, it may misclassify a small portion of high-risk loans.

***

## Create a Support Vector Machine (SVM) Model with the Original Data

In [ ]:
# Import the SVC module from SKLearn
from sklearn.svm import SVC

# Instantiate the Support Vector Machine (SVM) model
svm_model = SVC(kernel = 'linear')

# Fit the model using training data
svm_model.fit(X_train, y_train)

# Make a prediction using the testing data
svm_predictions = svm_model.predict(X_test)

In [ ]:
# Print the classification report for the model
print(classification_report(y_test, svm_predictions))

***

## **Create a K-Nearest Neighbours (KNN) Model with the Original Data**

In [ ]:
# Import the KNeighborsClassifier module from SKLearn
from sklearn.neighbors import KNeighborsClassifier

# Instantiate the K-Nearest Neighbors (KNN) model
knn_model = KNeighborsClassifier()

# Fit the model using training data
knn_model.fit(X_train_scaled, y_train)

# Make a prediction using the testing data
knn_predictions = knn_model.predict(X_test_scaled)

In [ ]:
# Print the classification report for the model
print(classification_report(y_test, knn_predictions))